/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

body {
  background-image: url("/img/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  background-color: rgba(253, 252, 252, 0.918);
  padding: 30px;
  position: relative¨;
}

header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}

main {
  margin-top: 30em;
}

footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: white;
  padding: 20px 0px;
}

.text-center {
  margin-bottom: 900px; /* Nur mal zum Testen wie es aussehen könnte */
}

.navbar {
  background-color: black;
}

.navbar-dropdown,
.navbar-link,
a.navbar-item {
  background-color: black;
  color: white;
}

h1 {
  margin: 30px 0px;
}

.file {
  margin-top: 30px;
}

.brand {
  font-weight: 800;
  background-color: black;
  color: rgb(219, 186, 113);
}

.catImg {
  width: 100%;
}
